*{
    margin: 0;
    border:0;
}
body{
    width: 100%;
    height: 100%;
    #sprites{
        display: none;
    }
}
canvas{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#game-canvas{
    z-index: 2;
}
#background-canvas{
    z-index: 1;
}